fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv

openai

chromadb

langchain

langchain-community

langchain-openai

pypdf

streamlit

google-api-python-client
google-auth
google-auth-oauthlib

requests
gitpython

vapi-server-sdk
datetime