fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv

openai

langchain
langchain-community
langchain-openai

pypdf
pymupdf

streamlit

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

requests
gitpython

vapi-server-sdk

faiss-cpu
numpy

python-multipart